header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  width: 100%;
  position: fixed;
  z-index: 5;
  background-color: white;
  
}

header ul {
	list-style: none;
	padding-right: 40px;
}

header ul li {
	display: inline-block;
	padding: 20px 10px;
}

body {
	display: flex;
}

main {
	display: flex;
	padding-top: 125px;
}

.headline {
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
}

.story2 {
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}

.image {
	font-family: Georgia;
	  font-weight: bold;
	  font-size: 30px;
	  color: white;

}
.column {
	border: 1px solid red;
	display: flex;
	flex-direction: column;
}

.column.large {
	width: 630px;
}

.column.medium {
	width: 300px;
}

.column.small {
	width: 240px;
}

p  {
	border: 1px solid red;
}

.logo {
	display: flex;
	align-items: center;
	padding-left: 30px;
}
div.logo span {
	color: MediumAquamarine;
	padding-left: 10px;
}

a:link {
	color: black;
}