header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  width: 100%;
  position: fixed;
  z-index: 5;
  background-color: white;
  
}

header ul {
	list-style: none;
	padding-right: 40px;
}

header ul li {
	display: inline-block;
	padding: 20px 10px;
}

.logo {
	display: flex;
	align-items: center;
	padding-left: 30px;
}
div.logo span {
	color: MediumAquamarine;
	padding-left: 10px;
}

a:link {
	color: black;
}

body {
	display: block;
}

main {
	display: flex;
	padding-top: 125px;
	width: 1170px;
	margin: 0 auto;
}

.imagetext {
	font-family: Georgia;
	font-weight: bold;
	font-size: 30px;
	color: white;
}


.imgheadline {
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
	
}

.imgstory2 {
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}

.imgstory3 {
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}

.imgstory4	{
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
}


.column {
	display: flex;
	flex-direction: column;
	margin-right: 32px;
}

.bottomarticles {
	display: flex;
	justify-content: space-between;
}

.bottom1 {
	padding-right: 10px;
}

.bottom2 {
	padding-left: 10px;
}

.column.large {
	width: 630px;


}

.column.medium {
	width: 300px;
}

.column.small {
	width: 240px;
	text-align: left;
	margin: 0;
}

.column.small h3 {
	font-size: 16px;
  	font-weight: bold;
  	text-align: center;
}

.column.small div ul {
	padding: 0px;
}
.column.small div ul li {
	
	list-style: none;
	border-bottom: 1px solid black;
	background-color: WhiteSmoke;
 	font-family: Verdana;
  	font-size: 12px;
  	color: DimGray;
  	padding: 11px 20px;

}

/*Formatting all column paragraphs*/

div.column p {
	font-family: Georgia;
  	font-size: 17px;
  	color: black;
}


/*-----------Footer----------------*/
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: MediumAquamarine;
	margin: auto;
  	font-family: Verdana;
  	font-size: 12px;
  	height: 325px;
}

.footerlogo {
	display: flex;
	align-items: center;

}

footer span {
	font-family: Georgia;
  	font-size: 16px;
  	font-weight: bold;
  	color: white;
  	border-right: 2px solid white;
  	padding-right: 50px;

}

footer ul {
	list-style: none;
}

footer ul li {
	display: inline-block;
	padding: 20px 10px;
}